.overlay {
  position: fixed;
  background: rgba(0, 0, 0, 0.3);
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: end;
  top: 0;
  left: 0;
  z-index: 3;
  transition: opacity 1s, visibility 1s;
  opacity: 0;
  visibility: hidden;
}

.overlay_opened {
  opacity: 1;
  visibility: visible;
}

.navigation {
  background-color: white;
  height: 100vh;
  width: 520px;
  display: flex;
  flex-direction: column;
  position: relative;
}

.navigation__closeBtn {
  border: none;
  background: none;
  padding: 0;
  position: absolute;
  top: 23px;
  right: 23px;
  width: 22px;
  height: 22px;
  /* z-index: ; */
}

.navigation__closeBtn:hover {
  opacity: 0.8;
  cursor: pointer;
}

.navigation__container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.navigation__list {
  margin: 160px auto 520px;
  list-style-type: none;
  padding: 0;
}

.navigation__link {
  color: black;
  text-decoration: none;
  font-size: 18px;
  line-height: normal;
  font-weight: 500;
  text-align: center;
  padding-bottom: 4px;
  margin: 0 auto 22px;
  width: fit-content;
}

.navigation__link_active {
  border-bottom: 2px solid black;
}

.navigation__link:last-of-type {
  margin-bottom: 0;
}

.account__button {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100px;
  height: 32px;
  border-radius: 40px;
  box-shadow: 0 3px 14px rgba(0, 0, 0, 0.08);
  background-color: white;
  padding: 0;
  border: none;
  margin: 0 auto;
}

.account__button:hover {
  opacity: 0.8;
  cursor: pointer;
}

.account__text {
  color: #000;
  text-decoration: none;
  font-size: 13px;
  line-height: 12px;
  font-weight: 500;
  margin: 0 auto;
}

.account__circle {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 26px;
  height: 26px;
  border-radius: 50%;
  background-color: #f9f9f9;
  margin-right: 3px;
}

@media screen and (max-width: 767px) {
  .navigation {
    width: 320px;
  }

  .navigation__closeBtn {
    top: 14px;
    right: 14px;
  }

  .navigation__list {
    margin: 144px auto 440px;
    list-style-type: none;
  }
}
