.cardList__container {
  max-width: 1280px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

.cardList__wrapper {
  margin: 70px 70px 50px;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(4, 270px);
  row-gap: 38px;
  column-gap: 20px;
}

.cardList__button {
  width: 320px;
  height: 36px;
  border: none;
  background-color: #f9f9f9;
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
  border-radius: 6px;
  font-size: 12px;
  font-weight: 500;
  margin-bottom: 80px;
}

.cardList__button:hover {
  opacity: 0.8;
  cursor: pointer;
}

@media screen and (max-width: 1279px) {
  .cardList__container {
    max-width: 768px;
  }

  .cardList__wrapper {
    margin: 70px 30px 50px;
    grid-template-columns: repeat(2, 339px);
    row-gap: 30px;
    column-gap: 30px;
  }
}

@media screen and (max-width: 767px) {
  .cardList__container {
    max-width: 320px;
  }

  .cardList__wrapper {
    margin: 40px 10px 60px;
    grid-template-columns: repeat(1, 300px);
    row-gap: 34px;
    column-gap: 0;
  }

  .cardList__button {
    width: 240px;
    height: 36px;
  }
}
