.register__container {
  margin: 0 auto;
  color: black;
  display: flex;
  justify-content: center;
}

.register__wrapper {
  margin: 70px auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 396px;
}

.form__container {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.label__container {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.register__label {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 3px;
  cursor: pointer;
  position: relative;
}

.navigation__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 134px 0 0;
  width: 100%;
}

.register__logo {
  width: 38px;
  height: 38px;
  object-fit: cover;
}

.register__logo {
  cursor: pointer;
}

.register__title {
  font-size: 24px;
  font-weight: 500;
  line-height: 1.21;
  margin: 40px 0;
  padding: 0;
}

.label__text {
  font-weight: 400;
  font-size: 10px;
  line-height: 1.21;
  color: #a0a0a0;
}

.register__input {
  padding: 6px 0;
  outline: none;
  border: none;
  border-bottom: 1px solid #e8e8e8;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.21;
  background-color: transparent;
  color: black;
  margin: 0 0 24px;
}

.register__input:focus {
  border-bottom: 1px solid #3456f3;
}

.register__input_error {
  color: #ff3055;
}

.register__error {
  font-weight: 400;
  font-size: 10px;
  line-height: 1.21;
  color: #ff3055;
  position: absolute;
  top: 47px;
  left: 0;
}

.register__button {
  background-color: #3456f3;
  width: 100%;
  height: 45px;
  padding: 0;
  margin: 0 0 16px;
  border: none;
  border-radius: 3px;
  color: white;
  font-size: 14px;
  line-height: 1.21;
  text-align: center;
  font-weight: 400;
}

.register__button:hover {
  cursor: pointer;
  opacity: 0.8;
}

.register__button:disabled {
  cursor: default;
  opacity: 1;
  background-color: #f8f8f8;
  color: black;
}

.register__description {
  color: #a0a0a0;
  font-size: 14px;
  line-height: 1.21;
  font-weight: 400;
  text-align: center;
  margin: 0;
  padding: 0;
}

.register__description_type_link {
  color: #3456f3;
  text-decoration: none;
}

.register__description_type_link:hover {
  cursor: pointer;
  opacity: 0.7;
}

@media screen and (max-width: 1279px) {
  .register__wrapper {
    margin: 232px auto;
  }
}

@media screen and (max-width: 767px) {
  .register__wrapper {
    margin: 56px auto 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 320px;
  }

  .navigation__container {
    margin: 222px auto 0;
    width: calc(100% - 30px * 2);
  }

  .register__logo {
    margin: 0 auto;
  }

  .register__title {
    margin: 50px 0 80px;
    text-align: center;
  }

  .register__button {
    margin: 0 0 14px;
    font-size: 12px;
  }

  .register__description {
    font-size: 12px;
  }
}
