body, html {
  margin: 0;
  padding: 0;
}

.page{
  margin: 0 auto;
  padding: 0;
  min-height: 100vh;
  font-family: 'Inter', 'Arial', sans-serif;
  box-sizing: border-box;
  text-rendering: optimizeLegibility;
  color: white;
}