body, html {
  margin: 0;
  padding: 0;
}

.main{
margin: 0 auto;
padding: 0;
min-width: 1280px;
border: 1px solid red;
}

.page{
  border: 1px solid red;
  margin: 0 auto;
  padding: 0;
  min-height: 648px;
  background-color: #073042;
  font-family: 'Inter', 'Arial', sans-serif;
  box-sizing: border-box;
  text-rendering: optimizeLegibility;
  color: white;
}